
.section_slider .menu_catalog a .text_catalog .icon img,
.header .menu_catalog a .text_catalog .icon img {
    width: 24px;
    height: 24px;
}

.header .menu_catalog .mc_link .un_list .title_un_menu a {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #3B6D9A;
    padding: 0;
}

.header .menu_catalog a:hover {
    background: #f5f6f7;
    text-decoration: none;
}
